parts/CP/CP.Data/bin/Debug/CP.Data.dll
parts/CP/CP.Data/bin/Debug/CP.Data.dll
parts/CP/CP.Data/bin/Debug/CP.Data.dll
parts/CP/CP.Data/bin/Debug/CP.Data.pdb
*.pdb
parts/CP/CP/bin/CP.Data.pdb
parts/CP/CP/bin/CP.Data.dll
parts/CP/CP.Data/obj/Debug/CP.Data.pdb
parts/CP/CP.Data/obj/Debug/CP.Data.dll
parts/CP/CP.Data/bin/Debug/CP.Data.dll