.bg-1 {
    background-color:#eee;
}

.label-sm {
    font-size:12px;
    margin-bottom:2px;
    font-weight:500;
}

.store-top {
    height:40px;
    background-color:black;
}

.search-box {
    height:400px;
}


.rsl-item {
    height:150px;
    border-top:1px solid #ddd;
}

.footer-1 {
    height:100px;
    background-color:#eee;
}

.footer-2 {
    height:20px;
    background-color:#000;
}