.wrapper {
    max-width:1170px;
    margin:0 auto;
}

.logo-box {
   
    height:58px;
}

.logo {
     margin-top:15px;
}

.bg-left-top {
    height:60px;
    background-image:url(../images/left-top-bg.jpg)
}

.bg-1 {
    background-color:#eee;
}

.label-sm {
    font-size:12px;
    margin-bottom:2px;
    font-weight:500;
}

.store-top {
    height:25px;
    background-color:#8ACECF;
}

.search-box {
    height:400px;
   
}


.link-box {
    height:300px;
    background-color:#8ACECF;
    margin:15px 0px 15px 0px;
}

.rsl-item {
    height:150px;
    border-top:1px solid #ddd;
}

.footer-1 {
    height:100px;
    background-color:#232429;
    color:#fff;
}

.footer-link {
    color:#eee;
    font-size:10px;
}

.footer-2 {
    height:20px;
    background-color:#00000A;
}


/* Store */
.header-1 {
    height:60px;
}

.header-2 {
    height:80px;
    background-color:#eee;
    font-weight:bold;
}

.store-back-top {
    height:10px;
    background-color:#8ACECF;
}