@{
    ViewBag.Title = "Add Part";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Parts
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Store/Item">Find Items</a></li>
        <li class="active">Add Part</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row message-area">
        <div class="col-md-12">
            <div class="alert alert-dismissable">
                <i class="fa"></i>
                <p>Info</p>
            </div>

        </div>
    </div>
    <form role="form" id="item-data">
        <div class='row'>
            <div class='col-md-6'>
                <div class='box box-info'>
                    <div class='box-header'>
                        <h3 class='box-title'>Item Data <small>Add items to your store</small></h3>
                    </div>
                    <div class='box-body pad'>

                        <div class="input-group-sm">
                            <label class="label-sm">Name</label>
                            <input type="text" class="form-control input-sm" id="Name" name="Name" placeholder="Name">
                        </div>


                        <div class="input-group-sm">
                            <label class="label-sm">Part No</label>
                            <input type="text" class="form-control input-sm" id="PartNo" name="PartNo" placeholder="Part No">
                        </div>

                        <div class="input-group-sm">
                            <label class="label-sm">Year</label>
                            <input type="text" id="Year" name="Year" class="form-control input-sm" placeholder="Year">
                        </div>

                        <div class="input-group-sm">
                            <label class="label-sm">Brand</label>
                            @Html.DropDownList("BrandId", (IEnumerable<SelectListItem>)ViewBag.Brands, new { @class = "form-control input-sm" })

                        </div>

                        <div class="form-group-sm">
                            <label class="label-sm">Model</label>
                            <select class="form-control input-sm" id="ModelId" name="ModelId">
                                <option value="0">- Select -</option>
                            </select>
                        </div>

                        <div class="form-group-sm">
                            <label class="label-sm">Category</label>
                            @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control input-sm" })
                        </div>

                        <div class="form-group-sm">
                            <label class="label-sm">Description</label>
                            <textarea class="form-control" name="Description" id="Description"></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class='col-md-6'>

                <div class='box box-info'>
                    <div class='box-header'>
                        <h3 class='box-title'>Store Info <small>Keep information about the item</small></h3>
                    </div>
                    <div class='box-body pad'>

                        <div class="input-group-sm">
                            <label class="label-sm">Info</label>
                            <textarea name="StoreInfo" id="StoreInfo" class="form-control" rows="4"></textarea>
                        </div>

                        <div class="input-group-sm">
                            <label class="label-sm">Basket</label>
                            @Html.DropDownList("BasketId", (IEnumerable<SelectListItem>)ViewBag.Baskets, new { @class = "form-control input-sm" })
                        </div>
                        <div class="input-group-sm">
                            <label class="label-sm">Stocklot</label>
                            @Html.DropDownList("StocklotId", (IEnumerable<SelectListItem>)ViewBag.Stocklots, new { @class = "form-control input-sm" })
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group-sm">
                                    <label class="label-sm">Qty</label>
                                    <input name="Qty" id="Qty" type="number" class="form-control input-sm text-right" placeholder="Qty">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-sm">
                                    <label class="label-sm">Quoted Price</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">Rs.</span>
                                        <input type="number" name="QuotedPrice" id="QuotedPrice" class="form-control input-sm text-right currency" placeholder="Quoted Price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group-sm">
                                    <div class="checkbox">
                                        <label>
                                            &nbsp;
                                        </label>
                                        <div class="input-group">
                                            <label><input type="checkbox" checked="checked" id="Active" name="Active"> Active</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row margin-top5">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>


</section>
<div class="modal fade" id="part-add-success-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-success">
                <i class="fa fa-check"></i>
                Part has been saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="on_checkout()">Done</button>
                <button type="button" class="btn btn-primary" onclick="on_checkout()">Add Another?</button>
                <button type="button" class="btn btn-primary" onclick="on_checkout()">Add Images?</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript" src="~/Scripts/screens/part.add.js"></script>


