@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Parts
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Parts</li>
        <li class="active">Find Parts</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Find Parts <small>Manage information of the parts in your stores</small></h3>
                </div>
                <div class='box-body pad'>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group-sm">
                                <label class="label-sm">Name</label>
                                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Name">
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group-sm">
                                <label class="label-sm">Part No</label>
                                <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group-sm">
                                <label class="label-sm">Year</label>
                                <input type="text" class="form-control input-sm" placeholder="Year">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group-sm">
                                <label class="label-sm">Brand</label>
                                <select class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group-sm">
                                <label class="label-sm">Model</label>
                                <select class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group-sm">
                                <label class="label-sm">Category</label>
                                <select class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:10px">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                    <div class="row margin-top5" style="margin-bottom:60px">
                        <div class="col-md-12">
                            <table data-height="300" data-sort-name="name" data-sort-order="desc" data-toggle="table">
                                <thead>
                                    <tr>
                                        <th data-field="id" data-align="right" data-sortable="true">Part No</th>
                                        <th data-field="name" data-align="center" data-sortable="true">Name</th>
                                        <th data-field="price">Price</th>
                                        <th data-field="price">Qty</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
