@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Parts
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Parts</li>
        <li class="active">Find Parts</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Find Parts <small>Manage information of the parts in your stores</small></h3>
                    
                    </div>
                <div class='box-body pad'>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label class="label-sm">Brand</label>

                                @Html.DropDownList("BrandId", (IEnumerable<SelectListItem>)ViewBag.Brands, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label class="label-sm">Model</label>
                                <select class="form-control input-sm" id="ModelId" name="ModelId"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label class="label-sm">Category</label>
                                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control input-sm" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group-sm">
                                <label class="label-sm">Part No</label>
                                <input type="text" class="form-control input-sm" id="PartNo" name="PartNo" placeholder="Part No">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group-sm">
                                <label class="label-sm">Name</label>
                                <input type="text" name="Name" class="form-control input-sm" id="Name" placeholder="Name">
                            </div>

                        </div>


                        <div class="col-md-1" style="margin-top:20px">
                            <button type="button" class="btn btn-primary" onclick="search()">Search</button>
                            
                        </div>
                    </div>
                    <div class="row margin-top5">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Edit Store Info</a></li>
                                                                      
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top5" style="margin-bottom:20px">
                        <div class="col-md-12">
                            <table data-height="400" id="search-table" data-pagination="true" data-side-pagination="server" data-click-to-select="true">
                                <thead>
                                    <tr>
                                        <th data-field="Id" data-checkbox="true"></th>
                                        <th data-halign="center" data-field="PartNo" data-align="center" data-width="150">Part No</th>
                                        <th data-halign="center" data-field="Name">Name</th>
                                        <th data-halign="center" data-field="QuotedPrice" data-align="right" data-width="100">Quoted Price</th>
                                        <th data-halign="center" data-field="Qty" data-align="right" data-width="100">Qty</th>
                                        <th data-halign="center" data-field="Id" data-formatter="operateFormatter" data-width="120">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Scripts/screens/part.find.js"></script>
<script>
    function operateFormatter(value, row, index) {
        return [
            '<a class="col-md-4" href="javascript:void(0)" title="View">',
                '<i class="fa fa-file-o"></i>',
            '</a>',
            '<a class="col-md-4" href="/Store/Item/Edit/' + value + '" title="Edit">',
                '<i class="fa fa-edit"></i>',
            '</a>',
            '<a class="col-md-4" href="javascript:void(0)" title="Delete">',
                '<i class="fa fa-trash-o"></i>',
            '</a>'
        ].join('');
    }
</script>