
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>
<div class="col-xs-12 col-md-12 rsl-item">
    Content
</div>

