@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 id="p_title" class="list">
    Makes</h2>
<div class="toolbar">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').dataTable();
    });
</script>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th width="30%">
                Name
            </th>
            <th width="30%">
                Description
            </th>
            <th width="30%">
                Models
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
