@using AutoPP.Web.Controllers.Helpers
<div id="content-title">
   <span class="title-text">Reports</span>
</div>
<div class="toolbar">
</div>
<div>
    <ul class="dashboard">
        <li><a href="/Reports/VisitsByMakeReport"><img src="/Content/Images/ordering-icon.png" alt="Visits By Make" /></a></li>
        <li><a href="#"><img src="/Content/Images/ordering-icon.png" alt="Makes" /></a></li>
        <li><a href="#"><img src="/Content/Images/ordering-icon.png" alt="Models" /></a></li>
        <li><a href="#"><img src="/Content/Images/ordering-icon.png" alt="Models" /></a></li>
        <li></li>
        <li></li>
    </ul>
</div>