<div id="content-title">
    Vendors
</div>
<div class="toolbar">
<table cellpadding="0" cellspacing="0" style="padding:10px" width="100%">
    <tr>
        <td><label>Category</label></td>
        
        
    </tr>
</table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').dataTable();
    });
</script>
<table id="table_id" >
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendor in ViewBag.Vendors)
        {
            <tr>
                <td>@vendor.Name</td>
                <td>@vendor.Phone</td>
                <td>@vendor.Address</td>
            </tr>
        }
        
    </tbody>
</table>
