
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}

<div class="row header-2">
    <h3><b>Welcome to Dashboard</b></h3>
</div>
<div class="col-md-12">
    <div class="col-md-3">Search</div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>

