<div id="content-title">
    <span class="title-text">Successfully registered</span>
</div>
<div>
    <p>You have been successfully registered to Colombo Parts. You may able to enter requets to the system.Thank you for registering with us.</p>
</div>