@using AutoPP.Web.Controllers.Helpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 id="p_title">
    Parts</h2>
<!--<div id="content-title">
   <span class="title-text">Dashbord</span>
</div>
<div class="toolbar">
</div>
<div>
    <ul class="dashboard">
        <li><a href="/Master/Models"><img src="/Content/Images/d-model.png" alt="Models" /></a></li>
        <li><a href="#"><img src="/Content/Images/d-makes.png" alt="Makes" /></a></li>
        <li><a href="#"><img src="/Content/Images/options-icon.png" alt="Models" /></a></li>
        <li><a href="#"><img src="/Content/Images/options-icon.png" alt="Models" /></a></li>
        <li></li>
        <li></li>
    </ul>
</div>-->
