
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}

<div class="row header-2">
    <b>Store Contacts</b>
</div>
<div class="row margin-top5">
    <div class="col-md-12">
        <div class="well"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table data-height="400" data-card-view="true" data-response-handler="responseHandler" data-toggle="table">
            <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="license">Phone</th>
                    <th data-field="description">Email</th>
                    <th data-field="url">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Arjuna Dratharashtra</td>
                    <td>077-6077000</td>
                    <td>wowarjuna@gmail.com</td>
                    <td><a href='https://github.com/wenzhixin/multiple-select'>Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

