@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}


<div class='row'>
    <div class='col-md-12'>
        <div class='box box-info'>
            <div class='box-header'>
                <h3 class='box-title'>Manage Stores <small>Manage information of your stores</small></h3>
            </div>
            <div class='box-body pad'>
                <div class="row margin-top5" style="margin-bottom:60px">
                    <div class="col-md-12">
                        <table data-height="400" data-sort-name="name" data-sort-order="desc" data-toggle="table" data-card-view="true">
                            <thead>
                                <tr>
                                    <th data-field="id" data-align="right" data-sortable="true">Part No</th>
                                    <th data-field="name" data-align="center" data-sortable="true">Name</th>
                                    <th data-field="price">Price</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

