
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}

<div class="row header-2">
    <b>Manage Stores</b>
</div>
<div class="row margin-top5">
    <div class="col-md-12">
        <div class="well"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table data-height="400" data-card-view="true" data-response-handler="responseHandler" data-toggle="table">
            <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="license">License</th>
                    <th data-field="description">Description</th>
                    <th data-field="url">Url</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Multiple Select</td>
                    <td>The MIT License</td>
                    <td>A jQuery plugin to select multiple elements with checkboxes :</td>
                    <td><a href='https://github.com/wenzhixin/multiple-select'>https://github.com/wenzhixin/multiple-select</a></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
