<div class="row">
    <div class="product-detail">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="title header-bar-with-arrow">
                        <h3>{{name}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="product-image-gallery">
                        <div class="gallery-container swiper-container">
                            <div class="gallery-wrapper swiper-wrapper">
                                <div ng-repeat="x in images" class="slide swiper-slide" ng-init="galleryInit()"><img class="product-img img-responsive" ng-src="/images/items/{{x.id}}/{{x.name}}" alt=""></div>

                            </div>
                            <div class="swiper-button swiper-button-next"><i class="glyphicon glyphicon-menu-right"></i></div>
                            <div class="swiper-button swiper-button-prev"><i class="glyphicon glyphicon-menu-left"></i></div>
                        </div>
                        <div class="swiper-container gallery-thumbs">
                            <div class="thumbs-wrapper swiper-wrapper">
                                <div ng-repeat="x in images" class="thumb swiper-slide" ng-init="galleryInit()"><img class="img-responsive" ng-src="/images/items/{{x.id}}/{{x.name}}" alt=""></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-column">
                        <div class="header-bar-with-arrow">
                            Supplier Info
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="quick-nav item pad-15">
                                    <address>
                                        <strong>{{supplier}} </strong><br />
                                        {{address}}
                                    </address>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="action-btns pad-b-15">
                        <!--<button class="btn btn-primary btn-block" ng-repeat="p in phone"><i class="glyphicon glyphicon-earphone"></i>{{p}}</button>-->
                        <a class="btn btn-primary btn-block" ng-repeat="p in phone" href="tel:{{p}}"><i class="glyphicon glyphicon-earphone"></i>{{p}}</a>
                    </div>

                    <!--
                    <div class="ctrl-btns">
                        <button class="btn btn-warning btn-block"><i class="glyphicon glyphicon-warning-sign"></i> Report This Ad</button>
                    </div>
                    -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="product-details">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Details</div>
                            <div class="panel-body">
                                <div class="product-cat mar-b-15">
                                    <h5 class="cat"><strong>Manufacturer:</strong> {{brand}}</h5>
                                    <h5 class="cat"><strong>Model:</strong> {{model}}</h5>
                                    <h5 class="cat"><strong>Part No:</strong> {{partNo}}</h5>
                                </div>
                                <div class="detail">
                                    {{description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--
            <div class="row">
                <div class="col-md-9">
                    <div class="related-products">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Related Models</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="related-product">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="img">
                                                        <img class="img-responsive" src="images/img-1.jpg" alt="">
                                                    </div>

                                                </div>
                                                <div class="col-md-8">
                                                    <div class="disc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et ex pretium</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="related-product">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="img">
                                                        <img class="img-responsive" src="images/img-1.jpg" alt="">
                                                    </div>

                                                </div>
                                                <div class="col-md-8">
                                                    <div class="disc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et ex pretium</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            -->
        </div>

    </div>
</div>